= javascript_include_tag "dashboard"
.content-body.dashboard
  - @posts.each do |post|
    = div_for post do
      .user
        = link_to profile_path(post.user) do
          = image_tag post.user.avatar.url(:thumb)
          %strong= post.user
      .photo
        = link_to dashboard_path(post) do
          = image_tag post.photo.url(:cropped)
      .description= post.description
      .options
        .venue
          %strong= post.venue_info
        .loveds
          %a{ data: { href: love_dashboard_path(post.id, format: :json) } }= post.loveds.size
        .comments
          = post.comments.size
        .clearfix