= javascript_include_tag "sign_up"
%h2 Sign up
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs
    = f.input :user_type, collection: User.user_type_list, as: :radio_buttons
    .venue_info{ class: resource.errors.present? && resource.user_type == 'salon' ? '' : 'hide' }
      = f.input :venue
    .complete_form{ class: resource.errors.present? ? '' : 'hide' }
      = f.input :name, :required => true, :autofocus => true
      = f.input :email, :required => true
      = f.input :password, :required => true
      = f.input :password_confirmation, :required => true
      = f.input :avatar
      .form-actions
        = f.button :submit, "Sign up"

= render "devise/shared/links"