= stylesheet_link_tag "util/jquery.Jcrop.min"
= javascript_include_tag "posts"
= simple_form_for(@post, defaults: { input_html: { class: 'form-horizontal' } }) do |f|
  = f.error_notification
  = f.input :categories, collection: Post.category_list, as: :check_boxes
  = f.input :venue
  = f.input :description
  = f.input :photo
  = f.hidden_field :crop_x
  = f.hidden_field :crop_y
  = f.hidden_field :crop_w
  = f.hidden_field :crop_h
  = image_tag @post.photo.url, id: 'crop_photo'
  = image_tag @post.photo.url(:large)

  .form-actions
    = f.button :submit, :class => "btn-primary"
