.content-header
  .pull-left
    %h2 #{t('actions.create')} #{t('activerecord.models.post').downcase}
  .pull-right
    = link_to posts_path, class: 'btn tip-bottom', title: t('actions.back') do
      %i.icon-arrow-left
  .clearfix
  %ul.breadcrumb
    %li
      = link_to t('views.home'), root_path
      %span.divider /
    %li
      = link_to t('activerecord.models.post').pluralize, posts_path
      %span.divider /
    %li.active #{t('actions.create')} #{t('activerecord.models.post').downcase}  
         
.content-body
  = render 'form'